body {
  margin-top: 2ex;
  font-family: 'Arimo', sans-serif;
  color: #555555;
  background: url('../img/brillant.png') repeat 0 0;
}
body, ul, li {
  line-height: 140%;
}
.container {
  margin: 0 auto;
  width: auto;
  max-width: 525px;
}
.nav-list li {
  padding-bottom: 0;
}
h1 {
  font-size: 2.5em;
  color: #000000;
  margin-bottom: 0.5ex;
  font-weight: normal;
}
h3 {
  font-size: 1.5em;
  color: #000000;
  padding-top: 1em;
  line-height: 100%;
  font-weight: normal;
}
a {
  color: #000000;
}
a:hover {
  color: #f67600;
}
strong {
  color: #000000;
}
em {
  color: #000000;
}
.btn-download {
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}
.btn {
  background-color: hsl(29, 100%, 38%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff9028", endColorstr="#c15d00");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ff9028), to(#c15d00));
  background-image: -moz-linear-gradient(top, #ff9028, #c15d00);
  background-image: -ms-linear-gradient(top, #ff9028, #c15d00);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff9028), color-stop(100%, #c15d00));
  background-image: -webkit-linear-gradient(top, #ff9028, #c15d00);
  background-image: -o-linear-gradient(top, #ff9028, #c15d00);
  background-image: linear-gradient(#ff9028, #c15d00);
  border-color: #c15d00 #c15d00 hsl(29, 100%, 33%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;

  font-weight: bold;
}
ul {
  list-style-type: none;
}
li {
  padding-bottom: 0.5em;
}
#push {
  height: 2em;
}
#footer {
  height: 4em;
  padding-top: 2ex;
  background-color: #f5f5f5;
}
#fancybox-title {
  font-family: Helvetica, Arial, FreeSans, sans-serif;
  font-size: 1.0em;
  z-index: 1102;
  color: #555555;
}
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
