body {
  font-family: Helvetica, Arial, FreeSans, san-serif;
  font-size: 1.0em;
  color: #555555;
  background-color: #ffffff;
  line-height: 140%;
}
#container {
  margin: 0 auto;
  width: 525px;
}
h1 {
  font-size: 2.5em;
  color: #000000;
  margin-bottom: 0.5ex;
}
h2 {
  font-size: 1.0em;
  color: #666666;
  font-style: italic;
  font-weight: normal;
}
h3 {
  font-size: 1.5em;
  color: #000000;
  margin-bottom: 0.5em;
  padding-bottom: 0;
  padding-top: 0.5em;
  line-height: 50%;
  font-weight: normal;
}
a {
  color: #000000;
}
a:hover {
  color: #f67600;
}
strong {
  color: #000000;
  font-weight: normal;
}
em {
  color: #000000;
}
table {
  border-collapse: collapse;
}
td {
  padding: 0;
}
img {
  border: 0;
}
ol {
  margin-left: -4.5ex;
}
ul {
  margin-left: -1.6ex;
  text-indent: -4.5ex;
  list-style-type: circle;
  list-style-position: inside;
}
li {
  padding-bottom: 0.5em;
}
#fancybox-title {
  font-family: Helvetica, Arial, FreeSans, san-serif;
  font-size: 1.0em;
  z-index: 1102;
  color: #555555;
}
